@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "View products";
}

@if (Model.Count() > 0 && Model != null)
{
    <h4>View products for @Model.First().SubCategoryName subcategory</h4>
}

<div class="account-content-inner">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">PromoPrice</th>
                <th scope="col">CountsLeft</th>
                <th scope="col">OrdersCount</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productModel in Model)
            {
                <tr>
                    <td>
                        @productModel.Id
                    </td>
                    <td>
                        @productModel.Name
                    </td>
                    <td>
                        @productModel.Price
                    </td>
                    <td>
                        @productModel.PromoPrice
                    </td>
                    <td>
                        @productModel.CountsLeft
                    </td>
                    <td>
                        @productModel.OrdersCount
                    </td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@productModel.Id" class="btn btn-custom-border-blue">Edit</a>
                        <form asp-controller="Products" asp-action="Delete" asp-route-productId="@productModel.Id" method="post">
                            <button class="btn btn-custom-border-red" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

