@model OrderBindingModel.OrderBidningModel
@{ 
    ViewData["Title"] = "Review order";
}
<div class="account-container">
    <div class="account-content">
        <h3>Products</h3>

        @{ decimal totalPrice = 0; }

        <div class="account-content-inner d-flex flex-row flex-wrap">
            @foreach (var product in Model.Products)
            {
                decimal currentPrice = product.Price * product.Count;

                <div class="account-content-inner d-flex flex-row">
                    <div>
                        <div><h5>@product.Name</h5></div>
                        <div>
                            <img class="product-small-image" src="data:image/jpg;base64,@System.Convert.ToBase64String(@product.MainPhoto.Data)" />
                        </div>
                    </div>
                    <div class="ml-auto">
                        <div>Count: @product.Count</div>
                        <div>Price: </div>
                        <div id="price">@currentPrice.ToString("F")</div>
                    </div>
                </div>

                totalPrice += currentPrice;
            }
        </div>

        <div class="d-flex">
            <div class="ml-auto"><h3>Total Price: @totalPrice.ToString("F")</h3></div>
        </div>
        <h3>Address</h3>
        <div class="account-content-inner">
            <div><strong>@Model.DeliveryInfo.FullName - @Model.DeliveryInfo.PhoneNumber</strong></div>
            <div>@Model.DeliveryInfo.Address</div>
            <div>@Model.DeliveryInfo.SelectedDistrictName - @Model.DeliveryInfo.SelectedPopulatedName</div>
        </div>

        <div class="d-flex">
            <form class="ml-auto" asp-action="Order" method="post">
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <input hidden asp-for="Products[i].ProductId" />
                    <input hidden asp-for="Products[i].Count" />
                    <input hidden asp-for="Products[i].Price" />
                }

                <input hidden asp-for="DeliveryInfo.Id" />

                <select asp-for="SelectedPaymentTypeId" asp-items="Model.PaymentTypes" ></select>

                <button class="btn btn-custom-border-green btn-block" type="submit">Finalize Order</button>
            </form>
        </div>
    </div>
</div>