@model IEnumerable<MyOrderConciseViewModel>
@{
    ViewData["Title"] = "My Orders";
}

<h3>@ViewData["Title"]</h3>

<div class="account-container">
    <div class="account-content d-flex flex-column">
        @if (Model.Any() == false)
        {
            <div class="mx-auto">
                <h2>No orders yet</h2>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="account-content-inner d-flex">
                    <div class="flex-column">
                        <div class="flex-row"><strong>Order &#8470; @item.Id</strong></div>
                        <div class="flex-row">Ordered date @item.OrderDate.ToShortDateString()</div>
                        <div class="flex-row"><strong>@item.OrderStatusName</strong></div>
                        <div class="flex-row">Products price @item.TotalPrice</div>
                        <div class="flex-row">Delivery price @item.DeliveryPrice</div>
                    </div>

                    <div class="ml-auto flex-column">
                        <button class="btn btn-custom-border-blue">Details</button>
                    </div>
                </div>
            }
        }
    </div>
</div>

