@model IEnumerable<ProductConciseViewModel>
@{
    ViewData["Title"] = "Products";
}

<div class="d-flex flex-row flex-wrap">
    @foreach (var productModel in Model)
    {
        <div class="product-content-inner">
            <img width="139" height="149" src="data:image/png;base64,@System.Convert.ToBase64String(@productModel.MainPhoto)" />
            <div>
                @for (int starCount = 1; starCount <= 5; starCount++)
                {
                    if (starCount > productModel.ReviewsAvgStartRating)
                    {
                        <span class="fa fa-star"></span>
                    }
                    else
                    {
                        <span class="fa fa-star star-checked"></span>
                    }
                }
                <span>@productModel.ReviewsCount reviews</span>
            </div>
            <div><strong>@productModel.Name</strong></div>
            @if (productModel.PromoPrice != null && productModel.PromoPrice > 0)
            {
                <div class="price-scrach">@productModel.Price $</div>
                <div class="price-container">@productModel.PromoPrice $</div>
            }
            else
            {
                <br />
                <div class="price-container">@productModel.Price $</div>
            }
            <div class="mb-auto">
                <button data-productId="@productModel.Id" addToShoppingCartBtn" class="btn btn-shoping-card">
                    <i class="fas fa-shopping-cart"></i>
                    Add to shoping card
                </button>
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        let btn = $(".btn-shoping-card");

        $(btn).on("click", function (e) {
            e.preventDefault();

            let productId = $(e.currentTarget).attr("data-productId")

            $.ajax({
                url: "/ShoppingCart/AddProduct",
                method: "POST",
                data: { productId: productId }
            })
        })
    })
</script>